$background-primary: #41C7D6
$background-light: #7efaff
$background-dark: #0096a5

body
    padding: 0px
    z-index: 0

.nav-alert-custom
    margin-right: -10px
    margin-left: -10px

.active-custom
    margin-right: -2px
    margin-left: -10px